<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Book Bio</title>
</head>
<body>
    <a href="/belt_reviewer">Home</a>
    <br />
    <a href="/belt_reviewer/logOut">Log Out</a>
    <h3>{{book.title}}</h3>
    <p>Author: {{author.name}}</p>
    <br />
    <h3>Reviews:</h3>
    {% for review in reviews %}
    <p>Rating: {{review.rating}}</p>
    <p><a href="/belt_reviewer/user/{{review.user.id}}">{{review.user.alias}}</a> says, <i>{{review.review}}</i></p>
    <p><i>Posted on {{review.created_at}}</i></p>
    {% if curUser == review.user.id %}
    <a href="/belt_reviewer/delete/{{review.id}}">Delete this Review</a>
    {% endif %}
    <br />
    {% endfor %}
    <h4>Add a review</h4>
    <form action="/belt_reviewer/add/review/validation/{{book.id}}" method="post">
        {% csrf_token %}
        <textarea name="review"></textarea>
        <br />
        Rating: <select name="rating">
            <option>5</option>
            <option>4</option>
            <option>3</option>
            <option>2</option>
            <option>1</option>
        </select>
        <br />
        <input type="submit" value="Submit Review" />
    </form>
    {% if messages %}
    {% for message in messages %}
    <p style="color: red">*{{message}}</p>
    {% endfor %}
    {% endif %}
</body>
</html>